//
   Created by Jan on 9/5/2015.

section.row(data-ng-controller='AuthenticationController')

    .col-xs-offset-1.col-xs-10.col-md-offset-4.col-md-4.signup-form
        h3.text-center Sign up

        form.signin.form-horizontal(name='userForm', data-ng-submit='signup()', novalidate='', autocomplete='off')
            fieldset
                .form-group
                    .text-center.text-danger(data-ng-show='error')
                        .alert.alert-danger(role='alert')
                            strong(data-ng-bind='error')

                .form-group
                    label.sr-only(for='firstName') First Name
                    .input-group.input-group-lg
                        span.input-group-addon
                            i.glyphicon.glyphicon-asterisk.text-muted
                        input#firstName.form-control(type='text', required='', name='firstName', data-ng-model='credentials.firstName', placeholder='First Name')

                .form-group
                    label.sr-only(for='lastName') Last Name
                    .input-group.input-group-lg
                        span.input-group-addon
                            i.glyphicon.glyphicon-asterisk.text-muted
                        input#lastName.form-control(type='text', name='lastName', data-ng-model='credentials.lastName', placeholder='Last Name')

                .form-group
                    label.sr-only(for='email') Email
                    .input-group.input-group-lg
                        span.input-group-addon
                            i.glyphicon.glyphicon-envelope.text-muted
                        input#email.form-control(type='email', name='email', data-ng-model='credentials.email', placeholder='Email')

                .form-group
                    label.sr-only(for='username') Username
                    .input-group.input-group-lg
                        span.input-group-addon
                            i.glyphicon.glyphicon-user.text-muted
                        input#username.form-control(type='text', name='username', data-ng-model='credentials.username', placeholder='Username')

                .form-group
                    label.sr-only(for='password') Password
                    .input-group.input-group-lg
                        span.input-group-addon
                            i.glyphicon.glyphicon-lock.text-muted
                        input#password.form-control(type='password', name='password', data-ng-model='credentials.password', placeholder='Password')

                br
                .text-center.form-group
                    button.btn.btn-success.btn-lg.btn-block(type='submit') Sign up

                p.text-center or &nbsp;
                    a.show-signup(href='/#!/signin') Sign in

